@model WebInformacionDocenteGF.Models.Contacto

@{
    ViewBag.Title = "AcercaDe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>INFORMACIÓN</h2>
<h3>ACERCA DE LA APLICACIÓN</h3>

<p>Esta página fue realizada en Visual Studio con C#; se considera una página para el control de docentes de la Universidad Mariano Gálvez de Guatemala.</p>

