@model WebInformacionDocenteGF.Models.Contacto

@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>INFORMACIÓN DEL ALUMNO</h2>
<h3>DETALLES</h3>

<address>
    NOMBRE:     GABRIEL FIGUEROS    <br />
    CARNE:      0900-22-9287        <br />
    SECCIÓN:    C
</address>

<address>
    <strong>SOPORTE:</strong> <a href="mailto:gfiguerosc@miumg.edu.gt">gfiguerosc@miumg.edu.gt</a><br />
    <strong>CURSO:</strong> <a href="mailto:gfiguerosc@miumg.edu.gt">PROGRAMACIÓN II</a>
</address>