@model WebInformacionDocenteGF.Models.Contacto

@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>Nuevo Contacto</h4>
            </div>
            <div class="panel-body">
                <form action="@Url.Action("Create", "ContactoGF")" method="post">
                    <div class="form-group">
                        <label for="txtNombre">Nombres</label>
                        <input type="text" class="form-control" name="Nombres" />
                    </div>
                    <div class="form-group">
                        <label for="txtNombre">Apellidos</label>
                        <input type="text" class="form-control" name="Apellidos" />
                    </div>
                    <div class="form-group">
                        <label for="txtNombre">Telefono</label>
                        <input type="text" class="form-control" name="Telefono" />
                    </div>
                    <div class="form-group">
                        <label for="txtSalario">Salario</label>
                        <input type="number" step="any" class="form-control" name="Salario" />
                    </div>
                    <div class="form-group">
                        <label for="txtFechaNacimiento">Fecha Nacimiento</label>
                        <input type="date" class="form-control" name="FechaNacimiento" />
                    </div>
                    <div class="form-group">
                        <label for="txtCorreo">Correo</label>
                        <input type="email" class="form-control" name="Correo" />
                    </div>
                    <button type="submit" class="btn btn-primary">Registrar</button>
                    <a class="btn btn-warning" href="@Url.Action("Inicio", "ContactoGF")">Volver</a>
                </form>
            </div>
        </div>
    </div>
</div>

